* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #222;
}

button {
  font-family: "Montserrat", sans-serif;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  padding: 15px 0 0 0;
}
.nav-container .logo-container {
  margin-right: 20%;
  color: #ab7535;
  font-size: 42px;
  text-transform: uppercase;
}
.nav-container .nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}
.nav-container .nav-links__item {
  list-style: none;
}
.nav-container .nav-links__anchor {
  text-decoration: none;
  color: #b1bacb;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.presentation {
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  min-height: 90vh;
  position: relative;
}
.presentation .presentation-container {
  text-align: center;
}
.presentation .presentation-container__headline {
  color: #ab7535;
  font-size: 56px;
  background: linear-gradient(to right, #ab7535, #a58f73);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  padding-bottom: 35px;
}
.presentation .presentation-container__text {
  color: #b1bacb;
  text-align: center;
  width: 75%;
  margin: auto;
}
.presentation .cta {
  padding: 50px 0 0 0;
}
.presentation .cta .cta-select {
  border: 2px solid #ab7535;
  background: transparent;
  width: 150px;
  height: 50px;
  color: #b1bacb;
  font-size: 16px;
  cursor: pointer;
}
.presentation .cta .cta-add {
  border: none;
  background: #ab7535;
  width: 150px;
  height: 50px;
  color: #b1bacb;
  font-size: 16px;
  cursor: pointer;
  margin: 30px 0 0 30px;
}
.presentation .bottom-container {
  border-bottom: 5px solid #b1bacb;
  width: 30%;
  position: absolute;
  bottom: 5%;
  left: 0;
  margin-left: 9.25%;
}
.presentation .presentation-image {
  height: 70vh;
}
.presentation .presentation-image img {
  height: 100%;
  animation: drop 1.5s ease;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-180px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1024px) {
  .presentation {
    flex-direction: column;
  }
  .presentation-container {
    margin-top: 5vh;
    text-align: center;
  }
  .bottom-container {
    display: none;
  }
  .presentation-image {
    padding-top: 50px;
  }
}
